/*
 * IE 8 only
 */
 
 .container {
 	width: 1152px;
 }
 .col-lg-4.col-sm-12 {
 	width: 33.33333333%;
 	float:left;
 }
 .col-lg-3.col-sm-12,
 .col-lg-3.col-md-3{
 	width: 25%;
 	float:left;
 }
 .sf-menu li.dropdown ul {
 	background: #FFF;
 }
 .sf-menu li.dropdown ul li a {
 	cursor: pointer;
 }
 .col-lg-7.col-md-7.col-sm-7 {
 	 width: 58.33333333%;
 	 float:left;
 }
 .col-lg-5.col-md-5.col-sm-5 {
 	width: 41.66666667%;
 	float:left;
 }
 .col-lg-7.col-sm-12 {
 	width: 58.33333333%;
 	float:left;
 }
 .col-lg-4.col-sm-12 {
 	width: 33.33333333%;
 	float:left;
 }
 .col-lg-6.col-md-6.col-sm-6 {
 	width: 50%;
 	float:left;
 }
 .col-lg-8.col-md-8.col-sm-8 {
	float:left;
	width: 66.66666667%;
 }
 .col-lg-9.col-md-9.col-sm-9 {
	float:left;
	width: 75%;
 }
 .col-lg-4.col-md-4.col-sm-4 {
 	float:left;
	width: 33.33333333%;
 }
 .col-lg-2.col-md-2.col-sm-2 {
	float:left;
	width: 16.66666667%;
 }
 .col-lg-5.col-md-12.col-sm-12 {
 	width: 41.66666667%;
 	float:left;
 }
 .img-item {
 	margin-right:7px;
 }